html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #edc1ff;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  background: url("https://media.giphy.com/media/fveswwTXaGJl6SuBT7/source.gif");
  background-size: 25rem;
  background-position: top center;
  background-repeat: no-repeat;
}

button {
  color: white;
  margin-top: 26rem;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 40px;
  font-family: "Courier New", Courier, monospace;
  font-size: 22px;
  font-weight: 500;
  background-color: #0a1b91;
  border: none;
  border-radius: 20px;
}

button:hover {
  background-color: #f10011;
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  cursor: default;
  filter: brightness(50%);
}

audio {
  margin-left: auto;
  margin-right: auto;
}
